<div class="d-flex flex-grow-1 flex-column justify-content-center align-items-center">
    <h1 class="display-4">Rate My Courses</h1>
    <div class="container w-50">
        {{> searchbox }}
    </div>
</div>